/* Index.html */

body{
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    background: linear-gradient(90deg, white, aqua, rgb(7, 207, 197), blue);
}

.container{
    width: 80%;
    margin:auto;
    overflow: hidden;
    padding-left: 10px;
}

#current a{
    color: blue;
    font-weight: bolder;
}

ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

a{
    color:black;
    text-decoration: none;
}

a:hover{
    color: red;
    font-weight:bold;
}

header #logo{
    float: left;
}

header #logo h1{
    margin-top: 20px;
    text-transform: uppercase;
    padding-left: 15px;
    padding-right: 15px;
    color:white;
    font-size: 30px;
    background-color:dodgerblue;
    border-radius: 50%;
}

h1{
    text-transform:capitalize;
}

h3{
    font-size: medium;
    padding-left: 0px;
}

.h3a{
    padding-left: 25px;
}

header nav{
    float: right;
    margin-top: 10px;
}

header li{
    float: left;
    display:inline;
    padding: 20px 20px;
}

header li a{
    text-decoration: none;
    color: white;
}

header li a:hover{
    color:red;
    font-weight: bold;
}

#showcase{
    background: url(../image/ins2.jpg) repeat 0;
    min-height: 300px;
    position: absolute;
    text-align:center;
    color:white;
}

#showcase .container h1{
    margin-top: 70px;
    font-weight:bold;
    font-size:35px;
}

#showcase .container h3{
    border: 3px solid;
    color: white;
    padding: 0;
    margin-top: 40px;
}

#showcase .container a{
    color: white;
    text-decoration: none;
}

#showcase .container a:hover{
    color: red;
    font-weight: bold;
}

#side-bar .container h1{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    font-weight: 600;
    font-size: xx-large;
}

.fit{
    font-size: medium;
}

.file{
    font-size: small;
}

#side-bar{
    margin-top:100px;
    padding-top: 300px;
    margin-bottom: 120px;
}

#view{
   margin-top: 15px;
}

.views{
    float: left;
    width:30%;
    padding:10px;
    text-align: center;
    border-radius: 50%;
}

footer{
    padding: 20px;
    margin-top: 100px;
    color: white;
    background-color:black;
    text-align:center;
}

/* Register.html */

.views1{
    float: left;
    width:100%;
    padding:10px;
    text-align: center;
    border-radius: 50%;
    margin-top: 30px;
}

.contain{
    text-align: center;
}

.even h1{
    font-family: cursive;
    font-size: larger;
    font-weight: 800;
    padding-left:27px;
}

nav1{
    width: 45%;
    background-color: aquamarine;
}

nav h3{
    font-weight: 50;
    background-color: aquamarine;
    width:auto;
}

.f{
    width:80%;
    margin: 50px 250px 120px 587px;
    border: 0;
}

.quote input{
    width:30%;
    padding:5px;
    border-radius: 4px;
}


.button_1{
    display:block;
    width:25%;
    position:absolute;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 20px;
    background-color: red;
    color: white;
    border: 0px;
    border-radius: 5px;
}

/* SignUp */



/* About */

#side-bar1 .container h1{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 70px;
    color: blue;
}

#side-bar1 p{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: larger;
    font-style: italic;
    margin-bottom: 40px;
}


/* Download */

#side-bar2 .container{
    margin-bottom:30px;
    width: 80%;
}

#side-bar2 .container h1{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 80px;
    color: blue;
    margin-bottom: 10px;
}

#side-bar2 .container h2{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 40px;
    color: rgb(8, 161, 231);
    margin-top: 10px;
    margin-bottom: 120px;
    margin-right: 20px;
}

#side-bar2 img{
    float: right;
    padding:50px 150px 0 0;
}

#side-bar2 .container .cu .p1{
    text-align:justify;
    padding-left: 30px;
}

.button_2{
    display:block;
    width:10%;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 40px;
    margin-top: 10px;
    margin-bottom: 30px;
    background-color: blue;
    color: white;
    border: 0px;
    border-radius: 5px;
}

.button_3{
    display:block;
    width:10%;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 40px;
    margin-top: 10px;
    margin-bottom: 100px;
    background-color: blue;
    color: white;
    border: 0px;
    border-radius: 5px;
}

/* Offers */
#offer-main .container{
    display: flex;
    justify-content: space-around;   
}

.container .pg #offers{
    border: 3px;
    border-color: black;
}

/* Contact */
#showcase1{
    background-color: none;
    min-height: 300px;
    position: center;
    text-align:center;
    color:black;
    width: 80%;
}

#showcase1 .container3{
    width: 80%;
}

#showcase1 .container3 h1{
    margin-top: 70px;
    font-weight:bold;
    font-size:35px;
}

#showcase1 .container3 h3{
    border: 3px solid;
    color: green;
    padding: 0;
    margin-top: 40px;
}

#showcase1 .container3 a{
    color: green;
    text-decoration: none;
}

#showcase1 .container3 a:hover{
    color: red;
    font-weight: bold;
}

#side-bar3{
    margin-top:100px;
    padding-top: 80px;
    margin-bottom: 120px;
}

#side-bar3 .container h1{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    font-weight: 600;
    font-size: xx-large;
}

.container3{
    width: 80%;
    margin:auto;
    overflow: hidden;
    padding-left:210px;
}
